/*@font-face {*/
/*    font-family: 'shuzi';*/
/*    src: url('../fonts/QuartzRegular.ttf');*/
/*}*/

@font-face {
    font-family: "font-num";
    src: url('../fonts/DIN Alternate Bold.ttf');
}

.font-num {
    font-family: "font-num" !important;
}