$themeColor: rgb(18, 120, 246);
$themeColor_01: rgba(18, 120, 246, .1);
$themeColor_02: rgba(18, 120, 246, .2);
$themeColor_03: rgba(18, 120, 246, .3);
$themeColor_04: rgba(18, 120, 246, .4);
$themeColor_05: rgba(18, 120, 246, .5);
$themeColor_06: rgba(18, 120, 246, .6);
$themeColor_07: rgba(18, 120, 246, .7);
$themeColor_08: rgba(18, 120, 246, .8);
$themeColor_09: rgba(18, 120, 246, .9);

$disabledColor: #eee;

$error-color: #ed4014;

$move-color: rgba(237, 64, 20, 0.5);

$baseColor: rgba(61, 77, 102, 1);

$borderColor: #e2e2e2;

$white: rgb(255, 255, 255);
$white_01: rgba(255, 255, 255, .1);
$white_02: rgba(255, 255, 255, .2);
$white_03: rgba(255, 255, 255, .3);
$white_04: rgba(255, 255, 255, .4);
$white_05: rgba(255, 255, 255, .5);
$white_06: rgba(255, 255, 255, .6);
$white_07: rgba(255, 255, 255, .7);
$white_08: rgba(255, 255, 255, .8);
$white_09: rgba(255, 255, 255, .9);
