@import '../../scss/conf';
.dr {
	border: none;

	&::after {
		position: absolute;
		top: -15px;
		left: 0;
		font-size: 12px;
		line-height: 1.2;
		color: #a9a979;
		transition: 0.2s;
	}

	&:not(.locked)::before {
		cursor: move;
	}

	&::after {
		right: -3px;
		left: unset;
		content: '\1F512';
		opacity: 0;
	}

	&.locked::after {
		opacity: 0.5;
	}

	&.dr-active {
		cursor: move;
	}

	&:hover,
	&.dr-active {
		.dr-line-top,
		.dr-line-bottom,
		.dr-line-left,
		.dr-line-right {
			background-color: $themeColor_08;
		}
	}

	&.locked:hover {
		.dr-line-top,
		.dr-line-bottom,
		.dr-line-left,
		.dr-line-right {
			background-color: $themeColor_04;
		}
		&::after {
			opacity: 1;
		}
	}

	&.locked {
		outline: none;
	}

	&.dr-hide {
		pointer-events: none !important;
		opacity: 0;

		* {
			pointer-events: none !important;
		}
	}

	&::v-deep {
		.widget,
		.widget-part {
			position: absolute !important;
			top: 0 !important;
			left: 0 !important;
		}
	}
}

.dr-line {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.dr-line-top {
	width: 100%;
	height: 1px;
	top: 0;
	left: 0;
}

.dr-line-bottom {
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
}

.dr-line-left {
	width: 1px;
	height: 100%;
	top: 0;
	left: 0;
}

.dr-line-right {
	width: 1px;
	height: 100%;
	top: 0;
	right: 0;
}

.dr-handle {
	z-index: 999;
	width: 4px;
	height: 4px;
	border-radius: 4px;
	box-sizing: border-box;
	position: absolute;
	background: #ffffff;
}

.dr-handle-ml {
	left: -3px;
	margin-top: -2px;
	top: 50%;
	cursor: w-resize;
}

.dr-handle-bl {
	bottom: -2px;
	left: -3px;
	cursor: sw-resize;
}

.dr-handle-bm {
	bottom: -2px;
	left: 50%;
	margin-left: -5px;
	cursor: s-resize;
}

.dr-handle-br {
	right: -3px;
	bottom: -2px;
	cursor: se-resize;
}

.dr-handle-mr {
	right: -3px;
	margin-top: -2px;
	top: 50%;
	cursor: e-resize;
}

.dr-handle-tr {
	top: -2px;
	right: -3px;
	cursor: ne-resize;
}

.dr-handle-tm {
	top: -2px;
	left: 50%;
	margin-left: -5px;
	cursor: n-resize;
}

.dr-handle-tl {
	top: -2px;
	left: -3px;
	cursor: nw-resize;
}

.ref-line {
	position: absolute;
	background-color: rgb(255, 0, 204);
	z-index: 9999;
}
.v-line {
	width: 1px;
}
.h-line {
	height: 1px;
}
@media only screen and (max-width: 768px) {
	[class*='dr-handle-']:before {
		content: '';
		left: -10px;
		right: -10px;
		bottom: -10px;
		top: -10px;
		position: absolute;
	}
}
